---
layout: default
subtitle: "Coretan kisah sebuah kehidupan."
description: "Coretan kisah sebuah kehidupan, berbagi dengan sesama tentang pengalaman hidup."
---


	<div class="site grid-container container hfeed" id="page">
				<div class="site-content" id="content">
			
	<div class="content-area" id="primary">
		<main class="site-main" id="main">

{% for post in paginator.posts %}

<article id="post-85" class="post-85 post type-post status-publish format-standard has-post-thumbnail hentry category-govt-scheme" itemtype="https://schema.org/CreativeWork" itemscope="">
	<div class="inside-article">
					<header class="entry-header">
				<h2 class="entry-title" itemprop="headline"><a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">{{ post.title }}</a></h2>		<div class="entry-meta">
			<span class="posted-on"><time class="entry-date published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ page.date | date: "%B %-d, %Y" }}</time></span> <span class="byline">by <span class="author vcard" itemprop="author" itemtype="https://schema.org/Person" itemscope=""><a class="url fn n" href="/" title="View all posts by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}" rel="author" itemprop="url"><span class="author-name" itemprop="name">{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}</span></a></span></span> 		</div>
					</header>
			<div class="post-image">
						
						<a href="{{ post.url | prepend: site.baseurl }}">
							<img width="1280" height="720" src="{{site.url}}{{ site.baseurl }}/{% if post.image %}{{ post.image }}{% else %}{{ site.image }}{% endif %}" class="attachment-full size-full wp-post-image" alt="{{ post.title }}" itemprop="image" title="{{ post.title }}">
						</a>
					</div>
			<div class="entry-summary" itemprop="text">
				<p>{{ post.excerpt | strip_html | truncatewords:25 }} … <a title="{{ post.title }}" class="read-more" href="{{ post.url | prepend: site.baseurl }}" aria-label="Read more about {{ post.title }}">Read more</a></p>
			</div>
        


			</div>
</article>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<nav class="paging-navigation" aria-label="Archive Page">
  <div class="nav-links">

    {%- if paginator.previous_page -%}
      <a class="prev page-numbers" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        <span aria-hidden="true">←</span> Previous
      </a>
    {%- endif -%}

    {%- assign total = paginator.total_pages -%}
    {%- assign current = paginator.page -%}

    {%- for page_num in (1..total) -%}
      {% if page_num == 1 or page_num == total or page_num == current or page_num == current-1 or page_num == current+1 %}
        {% if page_num == current %}
          <span aria-current="page" class="page-numbers current"><span class="screen-reader-text">Page</span>{{ page_num }}</span>
        {% elsif page_num == 1 %}
          <a class="page-numbers" href="{{ site.baseurl }}/"><span class="screen-reader-text">Page</span>{{ page_num }}</a>
        {% else %}
          <a class="page-numbers" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page_num }}"><span class="screen-reader-text">Page</span>{{ page_num }}</a>
        {% endif %}
      {% elsif page_num == 2 and current > 4 %}
        <span class="dots">…</span>
      {% elsif page_num == total-1 and current < total-3 %}
        <span class="dots">…</span>
      {% endif %}
    {%- endfor -%}

    {%- if paginator.next_page -%}
      <a class="next page-numbers" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        Next <span aria-hidden="true">→</span>
      </a>
    {%- endif -%}

  </div>
</nav>
{% endif %}


</main>
</div>
{% include sidebar.html %}
</div>
</div>
