---
layout: default
subtitle: "Coretan kisah sebuah kehidupan."
description: "Coretan kisah sebuah kehidupan, berbagi dengan sesama tentang pengalaman hidup."
---


	<div class="site grid-container container hfeed" id="page">
				<div class="site-content" id="content">
			
	<div class="content-area" id="primary">
		<main class="site-main" id="main">

{% for post in paginator.posts %}

<article id="post-85" class="post-85 post type-post status-publish format-standard has-post-thumbnail hentry category-govt-scheme" itemtype="https://schema.org/CreativeWork" itemscope="">
	<div class="inside-article">
					<header class="entry-header">
				<h2 class="entry-title" itemprop="headline"><a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">{{ post.title }}</a></h2>		<div class="entry-meta">
			<span class="posted-on"><time class="entry-date published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ page.date | date: "%B %-d, %Y" }}</time></span> <span class="byline">by <span class="author vcard" itemprop="author" itemtype="https://schema.org/Person" itemscope=""><a class="url fn n" href="/" title="View all posts by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}" rel="author" itemprop="url"><span class="author-name" itemprop="name">{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}</span></a></span></span> 		</div>
					</header>
			<div class="post-image">
						
						<a href="{{ post.url | prepend: site.baseurl }}">
							<img width="1280" height="720" src="{{site.url}}{{ site.baseurl }}/{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" class="attachment-full size-full wp-post-image" alt="अभी भी 55 हज़ार बच्चों को नहीं मिला स्कूल, सरकार करेगी सख्त कार्रवाई" itemprop="image" title="{{ post.title }} 9">
						</a>
					</div>{% if post.subtitle %}
			<div class="entry-summary" itemprop="text">
				<p>{{ post.subtitle }} … <a title="{{ post.title }}" class="read-more" href="{{ post.url | prepend: site.baseurl }}" aria-label="Read more about {{ post.title }}">Read more</a></p>
			</div>
        {% endif %}


			</div>
</article>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons md-18">&#xE5C4;</i> Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts <i class="material-icons md-18">&#xE5C8;</i></a>
    </li>
    {% endif %}
</ul>
{% endif %}
</main>
</div>
{% include sidebar.html %}
</div>
</div>
