<div class="site-footer footer-bar-active footer-bar-align-right">
			<footer class="site-info" aria-label="Site"  itemtype="https://schema.org/WPFooter" itemscope>
			<div class="inside-site-info grid-container">
						<div class="footer-bar">
			<aside id="nav_menu-3" class="widget inner-padding widget_nav_menu"><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"><a href="{{ "/about-us/" | prepend: site.baseurl }}">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a href="{{ "/contact-us/" | prepend: site.baseurl }}">Contact Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-135"><a rel="privacy-policy" href="{{ "/privacy-policy/" | prepend: site.baseurl }}">Privacy Policy</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138"><a href="{{ "/terms-and-conditions/" | prepend: site.baseurl }}">Terms and Conditions</a></li>
</ul></div></aside>		</div>
						<div class="copyright-bar">
					<span class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} <a href="/" itemprop="url">{{ site.copyright_name }}</a></span></div>
			</div>
		</footer>
		</div>