---
layout: default
---


	<div class="site grid-container container hfeed" id="page">
				<div class="site-content" id="content">
			
	<div class="content-area" id="primary">
		<main class="site-main" id="main">
<article class="post-56 post type-post status-publish format-standard has-post-thumbnail hentry category-latest-updates" itemtype="https://schema.org/CreativeWork" itemscope>
	<div class="inside-article">
					<header class="entry-header">
				<h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>
					</header>
		<div class="entry-content" itemprop="text">
            {{ content }}
<!-- CONTENT END 1 -->
		</div>

			</div>
</article>
</main>
</div>
</div>
</div>