---
layout: default
---


	<div class="site grid-container container hfeed" id="page">
				<div class="site-content" id="content">
			
	<div class="content-area" id="primary">
		<main class="site-main" id="main">
<article class="post-56 post type-post status-publish format-standard has-post-thumbnail hentry category-latest-updates" itemtype="https://schema.org/CreativeWork" itemscope>
	<div class="inside-article">
				<div class="featured-image page-header-image-single grid-container grid-parent">
			<img width="1280" height="720" src="{{site.url}}{{ site.baseurl }}/{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" class="attachment-full size-full wp-post-image" alt="{{ page.title }}" itemprop="image"/>		</div>
					<header class="entry-header">
				<h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>
                                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    
                    <div class="entry-meta">
			<span class="posted-on"><time class="entry-date published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ page.date | date: "%B %-d, %Y" }}</time></span> <span class="byline">by <span class="author vcard" itemprop="author" itemtype="https://schema.org/Person" itemscope><a class="url fn n" href="/" title="View all posts by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}" rel="author" itemprop="url"><span class="author-name" itemprop="name">{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}</span></a></span></span> 		</div>
					</header>
		<div class="entry-content" itemprop="text">
            {{ content }}
<!-- CONTENT END 1 -->
		</div>

			</div>
</article>
{% include wp_comments.html %}
</main>
</div>
{% include sidebar.html %}
</div>
</div>